<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/post.css">
    <title>Travel Blog</title>

    <style>
        body {

            background-color: white;
        }
    </style>
</head>

<body>

    <header>
        <div class="title content">
            <h1><a href="indax.html">Tripavor</a></h1>
            <div class="icons">
                <ul>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-google-plus-g"></i></li>
                    <li><i class="fas fa-rss"></i></li>
                </ul>
            </div>
        </div>
        <div class="nav content">
            <ul>
                <a href="indax.html"><li class="current">Home</li></a>
                <a href="about.html"><li>About</li></a>
                <a href="contact.html"> <li>Contact</li></a>
                <a href="contact.html"><li>Travel</li></a>
            </ul>
            <input class="search float-right" placeholder="Search.."></input>

        </div>
    </header>

    <main>
        <div class="row content">

            <div class="authore">
                <!-- Component Code -->
                <div class="max-w-screen-xl mx-auto  sm:p-10 md:p-16 relative" style="padding: 0%;">

                    <div class="mb-2 max-w-2xl mx-auto">
                        <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">The Tajmahal Heart Of India</h1>
                        <p class="text-gray-700">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <div class="text-gray-700 text-xs flex my-6 flex justify-between">
                            <div class="flex items-center">
                                <a href="#"><img class="w-12 h-12 rounded-full mr-2"
                                        src="https://tailwindcss.com/img/jonathan.jpg"
                                        alt="Avatar of Jonathan Reinink"></a>
                                <div class="text-sm">
                                    <a href="#"
                                        class="text-gray-900 font-medium leading-none hover:text-indigo-600 transition duration-500 ease-in-out">Jonathan
                                        Reinink</a>
                                    <p class="text-gray-600 text-xs">Aug 18</p>
                                </div>
                            </div>

                        </div>
                    </div>

                   <div class="post-image">
                       <img src="https://cdn.pixabay.com/photo/2020/03/05/17/44/india-4905047_960_720.jpg" alt="">
                   </div>
                   
                    <div class="max-w-2xl mx-auto">
                        <div
                            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                            <div class="">
                                <p class="text-base leading-8 my-5">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>

                                <h3 class="text-2xl font-bold my-5">#1. What is Lorem Ipsum?</h3>

                                <p class="text-base leading-8 my-5">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>

                                <blockquote class="text-md italic leading-8 my-5 p-5 text-indigo-600 font-semibold">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s</blockquote>

                                <p class="text-base leading-8 my-5">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>



                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <!-- ========================comment section============ -->
            <div class="comments-app" ng-app="commentsApp" ng-controller="CommentsController as cmntCtrl">
                <h1>Leave a comment</h1>

                <!-- From -->
                <div class="comment-form">
                    <!-- Comment Avatar -->
                    <div class="comment-avatar">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png">
                    </div>

                    <form class="form" name="form" ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
                        <div class="form-row">
                            <textarea class="input" ng-model="cmntCtrl.comment.text" placeholder="Add comment..."
                                required></textarea>
                        </div>

                        <div class="form-row">
                            <input class="input" ng-class="{ disabled: cmntCtrl.comment.anonymous }"
                                ng-disabled="cmntCtrl.comment.anonymous" ng-model="cmntCtrl.comment.author"
                                ng-required="!cmntCtrl.comment.anonymous" placeholder="Email" type="email">
                        </div>

                        <div class="form-row text-right">
                            <input id="comment-anonymous" ng-change="cmntCtrl.anonymousChanged()"
                                ng-model="cmntCtrl.comment.anonymous" type="checkbox">
                            <label for="comment-anonymous">Anonymous</label>
                        </div>

                        <div class="form-row">
                            <input type="submit" value="Add Comment">
                        </div>
                    </form>
                </div>

                <!-- Comments List -->
                <div class="comments">
                    <!-- Comment -->
                    <div class="comment" ng-repeat="comment in cmntCtrl.comments | orderBy: '-date'">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                            <img ng-src="{{ comment.avatarSrc }}">
                        </div>

                        <!-- Comment Box -->
                        <div class="comment-box">
                            <div class="comment-text">{{ comment.text }}</div>
                            <div class="comment-footer">
                                <div class="comment-info">
                                    <span class="comment-author">
                                        <em ng-if="comment.anonymous">Anonymous</em>
                                        <a ng-if="!comment.anonymous"
                                            href="{{ comment.author }}">{{ comment.author }}</a>
                                    </span>
                                    <span class="comment-date">{{ comment.date | date: 'medium' }}</span>
                                </div>

                                <div class="comment-actions">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comment - Dummy -->
                    <div class="comment">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                            <img src="http://gravatar.com/avatar/412c0b0ec99008245d902e6ed0b264ee?s=80">
                        </div>

                        <!-- Comment Box -->
                        <div class="comment-box">
                            <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto
                                temporibus iste nostrum dolorem natus recusandae incidunt voluptatum.</div>
                            <div class="comment-footer">
                                <div class="comment-info">
                                    <span class="comment-author">
                                        <a href="mailto:sexar@pagelab.io">Sexar</a>
                                    </span>
                                    <span class="comment-date">Feb 2, 2013 11:32:04 PM</span>
                                </div>

                                <div class="comment-actions">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comment - Dummy -->
                    <div class="comment">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                            <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?b=1&k=6&m=476085198&s=170667a&w=0&h=ZHUgkr2TYixVu_Nny3XpsfmTdInPtEp1-PpO9MuQwYM=">
                        </div>

                        <!-- Comment Box -->
                        <div class="comment-box">
                            <div class="comment-text">Eligendi voluptatum ducimus architecto tempore, quaerat explicabo
                                veniam fuga corporis totam reprehenderit quasi sapiente modi tempora at perspiciatis
                                mollitia, dolores voluptate. Cumque, corrupti?</div>
                            <div class="comment-footer">
                                <div class="comment-info">
                                    <span class="comment-author">
                                        <a href="mailto:ximme13@somedomain.io">Ximme</a>
                                    </span>
                                    <span class="comment-date">Jan 31, 1986 11:32:04 PM</span>
                                </div>

                                <div class="comment-actions">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                (function () {
                    'use strict';

                    angular
                        .module('commentsApp', [])
                        .controller('CommentsController', CommentsController);

                    // Inject $scope dependency.
                    CommentsController.$inject = ['$scope'];

                    // Declare CommentsController.
                    function CommentsController($scope) {
                        var vm = this;

                        // Current comment.
                        vm.comment = {};

                        // Array where comments will be.
                        vm.comments = [];

                        // Fires when form is submited.
                        vm.addComment = function () {
                            // Fixed img.
                            vm.comment.avatarSrc = 'http://lorempixel.com/200/200/people/';

                            // Add current date to the comment.
                            vm.comment.date = Date.now();

                            vm.comments.push(vm.comment);
                            vm.comment = {};

                            // Reset clases of the form after submit.
                            $scope.form.$setPristine();
                        }

                        // Fires when the comment change the anonymous state.
                        vm.anonymousChanged = function () {
                            if (vm.comment.anonymous)
                                vm.comment.author = "";
                        }
                    }

                })();
            </script>
            <!-- ----------------------------------- -->

           <div class="container">
            <div class="head-tittle">
                <div class="row" style="display: block;">
                    <h3 class="row-head">Related Post</h3>
                </div>

            </div>
           </div>
            <div class="container">

                <div class="row">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top"
                                src="https://media.istockphoto.com/photos/architecture-in-jaipur-picture-id1173835523?b=1&k=6&m=1173835523&s=170667a&w=0&h=skhi-2hiANf5bYGwzod-ZsHOtXOxNDYeVEaOPhFchsU="
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jaipur</h5>
                                <p class="card-text">
                                    cupiditate neque labore illum explicabo sit eos pariatur. Reprehenderit, voluptate
                                    eveniet!</p>
                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top"
                                src="https://media.istockphoto.com/photos/taj-mahal-mausoleum-in-agra-picture-id1146517111?b=1&k=6&m=1146517111&s=170667a&w=0&h=5hZiYjd4-NxzfzGFK_w0Pnxc1tIXTPgn9a0LTeBN83Q="
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Agra</h5>
                                <p class="card-text">Lorem
                                    exercitationem sint dolorem error delectus aliquid id atque, facilis similique,
                                    officia labore nisi!</p>
                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top"
                                src="https://media.istockphoto.com/photos/decorated-indian-elephant-in-front-of-amer-fort-palace-jaipur-carved-picture-id940867852?b=1&k=6&m=940867852&s=170667a&w=0&h=tCFIaFsyNb3XTUm_qapI0dDtroF5lMqrMGUGy-hyFUs="
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Rajsthan</h5>
                                <p class="card-text">This is
                                    content. This card has even longer content than the first to show that equal height
                                    action.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
     

    <footer class="footer-section">
        <div class="container"
        style="display: block;
        width: 100%;
        height: auto;"
        
        >
            <div class="footer-cta pt-3 pb-3">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-3 pb-3">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
    
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container" style="height:100%;">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved Brijesh___jatariya</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>